@import '../abstracts/variables.scss';
@import '../abstracts/grid.scss';

section {
    top: 8vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $white-shade-two;
};

input {
    margin-top: 4vh;
    padding: 10px 25px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 3vh 3vh;
    color: $black-shade-two;
    border: 2px solid $green-shade-one;
    border-radius: 7px;
    font-family: $HG-LI;
    transition: 0.4s;
    font-size: 1.5vh;
}

input:focus {
    margin-top: 3vh;
    border: 2px solid $green-shade-two;
    border-radius: 7px;
    color: $black-shade-two;
    border-color: $green-shade-two;
    outline: $green-shade-two;
}

