
@import '../abstracts/variables.scss';

header {
    width: 100%;
    height: 7vh;
    background-color: $green-shade-one;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;

}

.ms-logo {
    width: 25vh;
    padding-left: 20px;
    padding-right: 20px;
    


}