@import '../abstracts/mixins.scss';

button {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);     
     background-repeat: no-repeat;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: 300px;
    background-position-x: center;
    background-position-y: center;
    outline: none;
    border-radius: 5px;
    grid-template-areas: 
     ". . ."
     "name name name"
     "type type flag";

 
}

 h1 {
    font-size: 2.6vh;
    grid-area: name;
    text-align: left;
    text-transform: uppercase;
    color: $green-main;
    font-family: $HG-RE;
    position: relative;
    top: 1.5vh;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.5)
 }

 h3 {
    font-size: 1vh;
    grid-area: type;
    text-align: left;
    position: relative;
    margin-top:1.5vh;
    width: 45%;
    padding-left: 5.7px;
    font-family: $HG-LI-IT;
    color: $green-shade-one;
    background-color: rgba(0, 0, 0, 0.5);
 }

#flag {
    grid-area: flag;
    width: 2.3vh;
    position: relative;
    justify-self:flex-end;
    align-self: center;
    top: -1.8vh;
    padding-bottom: 3px;
    padding-right: 3px;
 };

