@import '../abstracts/mixins.scss';

button {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);     
     background-repeat: no-repeat;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: 300px;
    background-position-x: center;
    background-position-y: center;
    outline: none;
    border-radius: 5px;
    border: 1px solid $green-shade-two;
    transition: 0.4s;
    grid-template-areas: 
     ". . ."
     "name name name"
     "type type flag"
    ;
    background-blend-mode: overlay;
    background-color: rgba(100, 100, 100, 1);

};

button:hover {
    background-blend-mode: overlay;
    background-color: rgba(100, 100, 100, 0.1);
}

 h1 {
    font-size: 2.4vh;
    grid-area: name;
    text-align: left;
    text-transform: uppercase;
    color: $green-main;
    font-family: $HG-RE;
    position: relative;
    top: 1.5vh;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.5)
 }

 h3 {
    font-size: 1vh;
    grid-area: type;
    text-align: left;
    position: relative;
    margin-top:1.5vh;
    width: 45%;
    padding-left: 5.7px;
    font-family: $HG-LI-IT;
    color: $green-shade-one;
    background-color: rgba(0, 0, 0, 0.5);
 }

#flag {
    grid-area: flag;
    width: 2.3vh;
    position: relative;
    justify-self:flex-end;
    align-self: center;
    top: -1.5vh;
    padding-bottom: 3px;
    padding-right: 3px;
 };

 .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.4s;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.flex-container {
   display: flex;
   justify-content: center;
   width: 75%;
   height: 90%;
   background-color: $white-shade-one;
   border-radius: 5px;
   overflow-y:auto;
   
}

.exit {
   position: fixed;
   display: flex;
   background-color: $white-shade-two;
   padding-left: 1vh;
   padding-right: 1.5vh;
   padding-top: 0.5vh;
   padding-bottom: 0.5vh;
   border: 1px solid $green-shade-four;
   width: 10.5%;
   left: 8vh;
   border-radius: 5px;
   text-align: center;
   margin-top: 1.5vh;
   font-size: 1.5vh;
   font-family: $HG-BO;
   color: $green-shade-four;
   transition: 0.3s

}

.exit:hover{
   margin-top: 2vh;
   background-color: $green-shade-four;
   color: $white-shade-two;
}

.info {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   text-align: center;
   margin-top: 5vh;
}


body.modal-open {
   overflow: hidden;
}

.title {
   font-family: $OS-BO;
   letter-spacing: 0.2vh;
   font-size: 3.5vh;
   margin-bottom: 2vh;
   color: $green-shade-four;
   text-transform: uppercase;
}

.type {
   font-family: $OS-LI;
   letter-spacing: 0.5vh;
   font-size: 1.2vh;
   color: $green-shade-four;
   margin-bottom: 2vh;
   text-transform: uppercase;
}

.thumb {
   width: 28vh;
   margin-top: 3vh;
}

.thumbflag {
   width: 4vh;
}

.ingredients-title {
  @include recipeTitle
}

.preparation-title {
   @include recipeTitle;

}

li {
   list-style-type:none;
}

iframe {
   margin-top: 4vh;
   margin-bottom: 4vh;
}