.recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: absolute;
    top: 15vh;
    width: 80vw;
    gap: 5px;
    padding-bottom: 50px;
    border: none;
}


