.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    position: absolute;
    top: 15vh;
    border: 2px solid yellow;
    width: 80vw;
   // DECLARE TEMPLATE AREAS ONCE DONE
    grid-template-areas:
        "spiedini"
}

.type {
    grid-area: sub;
}

.title {
    grid-area: name;
}

.flag {
    grid-area: flag;
}

