.recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: absolute;
    top: 15vh;
    border: 2px solid yellow;
    width: 80vw;
    gap: 5px;
}


