

// Font Variables
$HG-Light: HankenGrotesk-Light;
$HG-Light-Italic: HankenGrotesk-LightItalic;
$HG-Regular: HankenGrotesk-Regular;
$HG-Italic: HankenGrotesk-Italic;
$HG-Bold: HankenGrotesk-Bold;
$HG-Bold-Italic: HankenGrotesk-BoldItalic;

$OS-Light: OpenSans-Light;
$OS-Light-Italic: OpenSans-LightItalic;
$OS-Regular: OpenSans-Regular;
$OS-Italic: OpenSans-Italic;
$OS-Bold: OpenSans-Bold;
$OS-Bold-Italic: OpenSans-Bold;

// Color Variables

$main: #00ff2a;