// Font Variables
$HG-LI: HankenGrotesk-Light;
$HG-LI-IT: HankenGrotesk-LightItalic;
$HG-RE: HankenGrotesk-Regular;
$HG-IT: HankenGrotesk-Italic;
$HG-BO: HankenGrotesk-Bold;
$HG-BO-IT: HankenGrotesk-BoldItalic;
$OS-LI: OpenSans-Light;
$OS-LI-IT: OpenSans-LightItalic;
$OS-RE: OpenSans-Regular;
$OS-IT: OpenSans-Italic;
$OS-BO: OpenSans-Bold;
$OS-BO-IT: OpenSans-BoldItalic;

// Color Variables:
$green-main: #00ff2a;
$green-shade-one: #44e35f;
$green-shade-two: #00de25;
$green-shade-three: #1c5527;
$green-shade-four: #00AB1C;
$green-shade-five: #00AB1C;
$black-main: #000000;
$black-shade-one: #131313;
$black-shade-two: #2b2b2b;
$white-main: #ffffff;
$white-shade-one: #f5f5f5;
$white-shade-two: #fafafa;